---
layout: base.njk
---
<article>
  <h1>{{ title }}</h1>
  <time datetime="{{ page.date | dateToISO }}">{{ page.date | readableDate }}</time>
  {% if tags %}
  <p class="tags">
    {% for tag in tags %}
      {%- if tag != "post" -%}
      <a href="/tags/{{ tag }}/" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </p>
  {% endif %}
  <div class="post-content">
    {{ content | safe }}
  </div>
</article>
